/**
 * User: CHT
 * Date: 2020/11/4
 * Time: 9:37
 */

html,
body {
  margin  : 0;
  padding : 0;
}

.clearfix::after {
  content     : '';
  clear       : both;
  height      : 0;
  line-height : 0;
  font-size   : 0;
  display     : block;
}

.ellipsis {
  white-space   : nowrap;
  text-overflow : ellipsis;
  overflow      : hidden;
  word-wrap     : break-word;
}

.node-item__container {
  list-style : none;
  padding    : 0;
  margin     : 0;


  .node-item {
    @height       : 32px;

    float         : left;
    width         : 120px;
    height        : @height;
    margin        : 12px;
    padding       : 0 12px;
    font-size     : 14px;
    line-height   : @height;
    border-radius : 3px;
    box-shadow    : 5px 5px 15px rgba(0, 0, 0, .3);
    cursor        : pointer;
    border        : 1px solid #B4B4B4;
    color         : #333333;

    &.move-item {
      position         : fixed;
      z-index          : 10;
      background-color : #FFFFFF;
      margin           : 0;
    }
  }
}

.super-flow__container {
  width            : 800px;
  height           : 600px;
  background-color : #F5F5F5;

  .super-flow__node {
    border           : 1px solid #B4B4B4;
    background-color : #FFFFFF;
    box-shadow       : 0 0 15px rgba(0, 0, 0, .3);
    border-radius    : 4px;
    overflow         : hidden;

    > header {
      font-size        : 14px;
      padding          : 0 6px;
      line-height      : 2;
      cursor           : move;
      background-color : #000000;
      color            : #F5F5F5;
    }

    > .side {
      @size    : 10px;
      position : absolute;
      cursor   : crosshair;

      &-top {
        height : @size;
        top    : -@size / 2;
        left   : 0;
        right  : 0;
      }

      &-right {
        width  : @size;
        top    : 0;
        right  : -@size / 2;
        bottom : 0;
      }

      &-bottom {
        height : @size;
        bottom : -@size / 2;
        left   : 0;
        right  : 0;
      }

      &-left {
        width  : @size;
        top    : 0;
        left   : -@size / 2;
        bottom : 0;
      }
    }
  }
}
